
<div class="response">
  <p><b><%= @question %></b></p>
  <p class="person"><i>-You</i></p>
</div>

<div class="response">
  <p><b><%= @answer %></b></p>
  <p class="person"><i> -Your coach</i></p>
</div>

<a href="../ask">
  <button >Ask again</button>
</a>
